{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
<div class="entry">
	<div class="title">
		<div class="container">
		<h1>{{ entry.title }}</h1>
		<h3>{{ entry.author }}</h3>
		<h4>{{ entry.postDate.format('F d, Y') }}</h4>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
				<div class="panel panel-default">
					<div class="panel-body">
						{{ entry.body }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
