{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />

	{% includeCssFile "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %}
	{% includeCssFile "#{siteUrl}/style.css" %}
</head>

<body>
	<header>
		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1 col-md-6  col-md-offset-3">
						<a href="{{ siteUrl }}" class="navbar-brand">{{ siteName }}</a>
						<div class="pull-right">
							<a href="{{ url('news') }}" class="{% if craft.request.firstSegment == 'news' %}active {% endif %} btn btn-default navbar-btn">News</a>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<main>
		{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
		{% endblock %}
	</main>

	<footer>
		<nav class="navbar navbar-inverse navbar-static-top">
			<span>Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built with <a href="http://craftcms.com">Craft</a></span>
		</nav>
	</footer>
</body>
</html>
