/* Debug */
.h {
    display: none;
}
.r {
    background-color: rgba(255,0,0,0.2);
}
.g {
    background-color: rgba(0,255,0,0.2);
}
.b {
    background-color: rgba(0,0,255,0.2);
}
.y {
    background-color: rgba(255,255,0,0.2);
}
.m {
    background-color: rgba(255,0,255,0.2);
}
.c {
    background-color: rgba(0,255,255,0.2);
}
.rb {
    border: 3px solid rgba(255,0,0,0.8);
}
.gb {
    border: 3px solid rgba(0,255,0,0.8);
}
.bb {
    border: 3px solid rgba(0,0,255,0.8);
}
.yb {
    border: 3px solid rgba(255,255,0,0.8);
}
.mb {
    border: 3px solid rgba(255,0,255,0.8);
}
.cb {
    border: 3px solid rgba(0,255,255,0.8);
}


/* Reset */
h1 {
    margin: 0;
}
.navbar {
    margin: 0;
}
.jumbotron h1 {
    text-align: center;
}

.title {
    padding: 30px 0;
    margin-bottom: 30px;
}


/* GLOBAL  */

/* Fonts */
body {
   font-family: 'Raleway', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6, a {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

/* Pad15 */
.pad15 {
    padding: 5px 15px;
}

/* Center via flex  */
.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Flexbox*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #e9ebee;
}
main {
    flex: 1;
}

/* Header */
header {
    background: #333;
}
/* Brand */
.navbar-brand {
     color: white !important;
}

/* Footer */
footer {
    min-height: 70px;
    background: #333;
    color: white;
    display: flex;
}


/* NEWS */
.news.row {
    padding: 0 15px;
}
.homepage.row {
    padding: 0 15px;
}

/* Entry */
.entry .panel-body, .news article {
    padding: 45px;
}
.entry p, .news p {
    font-size: 1.5em;
    line-height: 1.8em;
    margin-bottom: 30px;
}
